@let vm = store;

@if (vm.isLoadingDetails()) {
<p>Creando, espere..</p>
}
@if (vm.isDoneDetails()){
<h2 class="text-xl">Cuenta creada corectamente</h2>
<div class="flex flex-row justify-center gap-3">
  <p-button severity="info" label="Salir" (onClick)="closeDialog()" />
</div>
}
@if (!vm.isLoadingDetails() && !vm.isDoneDetails()) {
<div [hidden]="vm.isLoadingDetails()">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="flex flex-col gap-3">
      <h2 class="text-xl font-bold text-center">Editar</h2>
      <label for="jobRole">Rol</label>
      <p-select [options]="jobRoles" formControlName="jobRole" optionLabel="name" optionValue="code" placeholder="Seleccionar"
        class="w-full" />
      @if (isInvalidControl('jobRole')) {
      <form-error [errors]="getErrorControl('jobRole')" />
      }
      <div class="flex flex-col gap-2">
        <label for="name">Nombre</label>
        <input pInputText id="name" autocomplete="off" formControlName="name" />
      </div>
      @if (isInvalidControl('name')) {
      <form-error [errors]="getErrorControl('name')" />
      }

      <div class="flex flex-col gap-2">
        <label for="email">Email</label>
        <input pInputText id="email" autocomplete="off" formControlName="email" />
      </div>
      @if (isInvalidControl('email')) {
      <form-error [errors]="getErrorControl('email')" />
      }
      <hr class="opacity-20">
      <div class="flex flex-row gap-3 justify-end">
        <p-button type="submit" label="Guardar" [disabled]="form.invalid || form.pristine" />
        <p-button type="button" severity="success" label="Salir" (onClick)="closeDialog()" />
      </div>
    </div>

  </form>
</div>
}
