spring:
  application:
    name: evaluations
  profiles:
    active: default
  config:
    import: "optional:configserver:http://localhost:8080"

  datasource:
    url: jdbc:postgresql://localhost:5432/katadb?currentSchema=evaluations
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    #hibernate:
    #  ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  cloud:
    openfeign:
      client:
        config:
          product-service:
            url: ${PRODUCT_SERVICE_URL:http://localhost:8082}
            connectTimeout: 2000
            readTimeout: 5000
  kafka:
    bootstrap-servers: localhost:9094
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.add.type.headers: false

server:
  port: 8083

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: "${EUREKA_CLIENT_SERVICEURL_DEFAULT_ZONE:http://localhost:8070/eureka/}"