<div class="flex flex-col gap-3">
  @let vm = store;
  @let judges = judges$();

  <div class="flex flex-row justify-end gap-3">
    <p-button
    label="Recargar"
    severity="info"
    (onClick)="vm.searchEvaluationsParticipants()" />
  </div>
  <p-table [value]="vm.evaluationsParticipants()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template ng-template #header>
      <tr>
        <th>No</th>
        <th>Participante</th>
        <th>Email</th>
        <th>Resultado</th>
        <th>Creado</th>
        <th>Opciones</th>
      </tr>
    </ng-template>
    <ng-template #body let-evaluationParticipant let-i="rowIndex">

      @let hasEvaluation = evaluationParticipant.evaluation != null;
      <tr>
        <td>{{( i+1) }}</td>
        <td>{{ evaluationParticipant.participant.name }}</td>
        <td>{{ evaluationParticipant.participant.email }}</td>

        @if (hasEvaluation) {
          <td class="font-bold">{{ evaluationParticipant.evaluation.approved == true ? 'Aprobado' : 'Rechazado' }}</td>
          <td>{{ evaluationParticipant.evaluation.evaluationDate }}</td>
        }
        @else{
          <td>--</td>
          <td>--</td>
        }
        <td>
          <div class="flex flex-row gap-1 justify-end">
             <p-button label="evaluar" size="small" (onClick)="openDialog(evaluationParticipant.participant.id, CrudPageOption.CREATE)" />
            @if (hasEvaluation) {
              <p-button label="detalles" size="small" severity="info"
                (onClick)="openDialog(evaluationParticipant.evaluation.id, CrudPageOption.DETAILS)"
              />
              <p-button label="eliminar" size="small" severity="danger" (onClick)="openDialog(evaluationParticipant.evaluation.id, CrudPageOption.DELETE)" />
            }
            @else{
              <p-button label="detalles" size="small" severity="info" disabled/>
              <p-button label="eliminar" size="small" severity="danger" disabled/>
            }
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [visible]="vm.isVisible()" [closable]="false" [modal]="true" [style]="{ width: '45rem' }">
     @switch (vm.option()) {
      @case (CrudPageOption.DETAILS) {
        <evaluation-details />
      }
      @case (CrudPageOption.CREATE) {
        <evaluation-create [judges]="judges!" />
      }
      @case (CrudPageOption.DELETE) {
        <evaluation-delete />
      }
    }
  </p-dialog>
  <p-toast position="bottom-right"/>
</div>
